.container
  .row#content-height
    .tags-list
      %h2 Tags list
      %ul#tag-list
        - @tags.each do |tag|
          %li.col-md-4
            = link_to "#{tag.name}", tag_path(tag), class: "btn btn-default"
