@import "bootstrap";
@import "products";

#login.checkbox {
  margin-left:20px;
}

.thumb {
  width: 100%;
  height: 100%;
}
#js-picture-edit .thumb{
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
